body {
    max-width: 80%;
}

aside figure{
    width: 30%;
}

.bigimage {
    width:100%;
}
/*Big Images*/


/* Small Images */
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    gap: 10px;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#discreet{
    color: grey;
}